.has-danger.form-group .invalid-feedback {
  display: block;
}

.rounded-circle,
.avatar.rounded-circle > div {
  border-radius: 50% !important;
  overflow: hidden;
}

.avatar > div {
  background-color: #fff;
}

.navbar-dark {
  color: rgba(255, 255, 255, 0.95);
}
